$color-primary: #0b57d0;
$color-primary-80: #a8c7fa;
$color-primary-30: #0842a0;
$color-primary-20: #062e6f;

// Light Mode
$light-background-color: #fff;
$light-font-color: #1f1f1f;
$light-navigation-background-color: #f3f6fc;
$light-hover-background-color: #c4c7c5;
$light-footer-background-color: #f3f6fc;

// Dark Mode
$dark-background-color: #1f1f1f;
$dark-font-color: #e3e3e3;
$dark-navigation-background-color: #2d2f31;
$dark-hover-background-color: #444746;
$dark-footer-background-color: #2d2f31;
