---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="content">
        <h1>404</h1>
        <h2>Not Found</h2>
        <p>The page you are looking for may have been moved, <br />deleted or possibly never existed.</p>
    </div>
</BaseLayout>

<style lang="scss">
    .content {
        text-align: center;
        h1 {
            font-size: 10rem;
        }
    
        h2 {
            font-size: 2rem;
        }
        
        h1, h2 {
            margin: 0;
        }
    }
</style>