---
import BaseLayout from "../layouts/BaseLayout.astro";
import Home from "../layouts/Home.astro";
import About from "../layouts/About.astro";
import Work from "../layouts/Work.astro";
import Projects from "../layouts/Projects.astro";
import Contact from "../layouts/Contact.astro";
---
<BaseLayout>
	<main class="content">
		<Home />
		<About />
		<Work />
		<Projects />
		<Contact />
	</main>
</BaseLayout>

<style lang="scss" is:global>
	main > section {
        counter-increment: sections 1;
    }
</style>