<footer>
    <p>Coded by <a target="_blank" href="https://github.com/wksam">SamWK</a></p>
</footer>

<style lang="scss">
    @use '../styles/variables' as var;

    footer {
        background-color: var.$light-footer-background-color;
        display: flex;
        justify-content: center;
    }

    :global(.dark) { 
        footer {
            background-color: var.$dark-footer-background-color;
        }
    }
</style>