<footer>
    <p>Coded by <a href="https://github.com/wksam" target="_blank">Sam</a></p>
</footer>

<style lang="scss">
    footer {
        text-align: center;
        padding: 16px 0;
        a {
            color: var(--primary-color-3);
        }
    }
</style>